@font-face {
    font-family: 'fonteClash';
    src: url('../fonte/You Blockhead.ttf');
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.titulo {
    margin-top: 10px;
    margin-left: 5px;
    font-size: 25px;
    font-family: fonteClash;
    color: rgb(255, 217, 0);
}



.menu-principal {
    background: linear-gradient(45deg,black, white, black) ;
    display: flex;
    align-items: center;
    width: 100%;
    height: auto;
}

.container-menu-lateral {
    background-color: #0e4378;
    width: 315px;
    height: 963px;
    margin-bottom: 0px;
    margin-left: 0px;
}

.icones-menu {
    border-bottom: 2px solid black;
    padding: 15px 0px 0px;
}

.opcoes-menu {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px; 
    margin-left: 6px; 
}

.botao-opcao {
    font-family: fonteClash;
    text-decoration: none;
    font-size: 18px;
    color: black;
    background-color: rgb(255, 217, 0);
    border: 8px solid rgb(255, 217, 0);
    border-radius: 8px;
    padding: 5px 20px;
    margin-left: 0;
    margin-right: 5px;
}.botao-opcao:hover {
    background-color: rgb(223, 192, 16);
    color: rgb(82, 70, 6);
    cursor: pointer;
    border: 8px solid  rgb(223, 192, 16);
    border-radius: 8px;
}



.informacao {
    margin-left: 300px;
    width: 1354px;
    height: 923px;
}

.informacao h1, h3 {
    font-family: fonteClash;
    line-height: 150%;
    width: 1054PX;
    height: auto;
}

.imagem-royale {
    margin-left: 200px;
}.botao-sair {
    font-family: fonteClash;
    font-size: 18px;
    color: black;
    background-color: rgb(255, 217, 0);
    border: 8px solid rgb(255, 217, 0);
    border-radius: 8px;
    padding: 5px 20px;
    margin-right: 5px;
    width: 280px;
}.botao-sair:hover {
    background-color: rgb(223, 192, 16);
    color: rgb(82, 70, 6);
    cursor: pointer;
    border: 8px solid  rgb(223, 192, 16);
    border-radius: 8px;
}