    @font-face {
        font-family: 'fonteClash';
        src: url('../fonte/You Blockhead.ttf');
    }

    body {
        margin: 0;
        font-family: 'fonteClash', sans-serif;
        background-image: url("../img/fundo-section.jpg");
        background-position: center;
    }

    #botao-menu {
        margin: 10px;
        width: 50px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgb(255, 217, 0);
        color: black;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

    .mensagem-erro {
        color: red;
        font-weight: bold;
        margin-bottom: 10px;
    }

    .mensagem-sucesso {
        color: green;
        font-weight: bold;
        margin-bottom: 10px;
    }

    .titulo {
        width: 100%;
        text-align: center;
        color: rgb(255, 217, 0);
        font-size: 32px;
        margin-bottom: 20px;
    }.categoria {
        width: 100%;
        text-align: center;
        color: rgb(255, 217, 0);
        font-size: 18px;
        margin-bottom: 20px;
    }

    .container-formulario {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 80vh;
        padding: 20px;
    }

    .formulario {
        background-color: rgba(0, 0, 0, 0.7);
        padding: 40px;
        border-radius: 10px;
        box-shadow: 0 0 10px black;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    input {
        width: 100%;
        max-width: 350px;
        padding: 8px;
        border-radius: 5px;
        border: none;
        font-family: inherit;
        font-size: 14px;
        box-sizing: border-box;
    }

    button {
        padding: 10px;
        background-color: rgb(255, 217, 0);
        border: none;
        border-radius: 5px;
        font-weight: bold;
        cursor: pointer;
        font-family: inherit;
        width: 100%;
        max-width: 350px;
    }

    p {
        color: rgb(255, 217, 0);
    }
 
    select#raridade-carta {
    width: 100% !important;
    padding: 10px !important;
    border-radius: 5px !important;
    border: 1px solid #aaa !important;
    font-size: 16px !important;
    background-color: #f9f9f9 !important;
}

input[type="file"]#imagem-carta {
    padding: 5px !important;
    border-radius: 5px !important;
    border: 1px solid #aaa !important;
    background-color: #f9f9f9 !important;
    cursor: pointer !important;
}

label {
    display: block;
    text-align: center;
    font-size: 16px;
    color: rgb(255, 217, 0);
    margin-bottom: 5px; 
}
 
input,
select,
button {
    margin-top: 5px;
    margin-bottom: 15px;
    display: block;
    width: 100%;
    max-width: 350px;
}
