@font-face {
    font-family: 'fonteClash';
    src: url('../fonte/You Blockhead.ttf');
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden; 
    min-height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    /* imagem tirada de https://wall.alphacoders.com/big.php?i=855977*/
    background-image: url("../img/fundo-tela.png");
    background-size: cover;
    font-family: fonteClash;
}

.titulo {
    margin-top: 100px;
    margin-left: 700px;
    font-size: 30px;
    font-family: 'fonteClash';
    color: rgb(255, 217, 0);
}

.caixa-login {
    background-color: rgb(73, 73, 216);
    margin-left: 820px;
    margin-right: 820px;
    margin-top: 0px;
    border: 1px solid rgb(73, 73, 216);
    border-radius: 30px;
    padding: 20px;
    padding-bottom: 15px;
}

.textoh2-login {
    font-size: 20px;
    margin-left: 40px;
    margin-top: 3px;
}

h2 {
    font-weight: 900;
    font-size: 28px;
    color: rgb(207, 177, 3);
}

.campos-login {
    margin-left: 7px;
    margin-bottom: 15px;
}

#botao-login {
    margin-left: 7px;
    background-color: rgb(255, 226, 62);
    color: rgb(192, 165, 11);
    border: 1px solid rgb(192, 165, 11);
    padding: 10px 20px;
    font-weight: bold;
    border-radius: 5px;
    font-family: fonteClash;
}
#botao-login:hover {
    background-color: rgb(255, 217, 0);
    color: rgb(161, 140, 16);
    cursor: pointer;
}

.mensagem-erro {
    position: absolute;
    top: 170px;
    margin-left: 800px;
    color: rgb(255, 217, 0);
    font-family: fonteClash;
}
#texto-logout{
    position: absolute;
    top: 200px;
    margin-left: 700px;
    color: rgb(255, 217, 0);
    font-family: fonteClash;    
}
#botao-sair{
    margin-top: 275px;
    margin-left: 800px;
    width: 250px;
    background-color: rgb(255, 226, 62);
    color: rgb(192, 165, 11);
    border: 1px solid rgb(192, 165, 11);
    padding: 10px 20px;
    font-weight: bold;
    border-radius: 5px;
    font-family: fonteClash;
}#botao-sair:hover {
    background-color: rgb(255, 217, 0);
    color: rgb(161, 140, 16);
    cursor: pointer;
}