@font-face {
    font-family: 'fonteClash';
    src: url('fonte/You\ Blockhead.ttf');
} 

.container-barra-pesquisa {
    display: flex;
    align-items: center;
    gap: 8px; 
}
.barra-pesquisa{
    width: 300px;
    height: 35px;
    border: 2px solid #000;
    border-radius: 8px;
    padding: 0 10px;
    font-size: 16px;
}
.parte-cima{
    font-family: fonteClash;
    font-size: 20px;    
    position: fixed;
    width: 100%;
    background-color: #0e4378;
    padding: 20px 20px 20px;
    box-sizing: border-box; 
    margin: 0;
    top: 0;
    left: 0;
}
 
main {
    padding-top: 140px;  
}
  
 
.deck-container {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 32px; 
    justify-content: flex-start;
    padding: 20px;  
}
 
.deck-wrapper {  
    width: calc((65px * 4) + (16px * 3) + 9px);
    background: #000; 
    padding: 2px;
    border-radius: 8px;  
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 1px solid #000;  
} 
 
.deck-name-display {
    width: 100%;
    height: 25px; 
    box-sizing: border-box;
    padding: 0 10px;
    font-size: 16px;
    background: #fff;  
    color: #000; 
    border: 2px solid #000;  
    border-radius: 8px;
    display: flex;
    align-items: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    justify-content: flex-start;
}
 
.cards-grid {
    display: grid;
    grid-template-columns: repeat(4, 60px);
    grid-auto-rows: 70px;    
    gap: 16px;
    width: max-content;      
    margin: 0 auto;         
    justify-content: center;
}
 
.card {
    width: 65px;
    height: 75px;  
    overflow: hidden;
    border-radius: 6px;
    background: #fff;  
    display: flex;
    align-items: center;
    justify-content: center;
}
 
.card img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* garante preenchimento sem distorcer */
    display: block;
}
  

.icones-menu {
    border-bottom: 2px solid black;
    box-sizing: border-box;
    margin: 0;
    width: 100vw;
    margin-left: -20px;
    padding: 15px 0 0 0;
    margin-bottom: 24px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.titulo {
    margin-top: -10px;
    margin-left: 30px;
    font-size: 40px;
    color: rgb(255, 217, 0);
}

#botao-menu{
    margin-left: 10px;
    margin-top: -40px;
    display: flex;
    width: 50px;
    height: 30px;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 217, 0);
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;    
}