@font-face {
    font-family: 'fonteClash';
    src: url('../fonte/You Blockhead.ttf');
}

.caixa-registro {
    background-color: rgb(73, 73, 216);
    margin-left: 820px;
    margin-right: 820px;
    margin-top: 0px;
    border: 1px solid rgb(73, 73, 216);
    border-radius: 30px;
    padding: 20;
    padding-bottom: 15px;
}


html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden; 
    min-height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    /* imagem gerada com IA (Chat GPT 05/08)*/
    background-image: url(img/fundo.png);
    background-size: cover;
    font-family: fonteClash;
}

.textoh2-cadastrar {
    font-size: 20px;
    margin-left: 20px;
    margin-top: 3px;
}

h2 {
    font-weight: 900;
    font-size: 28px;
    color: rgb(207, 177, 3);
}

.campos-cadastro {
    margin-left: 15px;
    margin-bottom: 15px;
}

#botao-cadastro{
    margin-left: 0px;
    background-color: rgb(255, 226, 62);
    color: rgb(192, 165, 11);
    border: 1px solid rgb(192, 165, 11);
    padding: 10px 20px;
    font-weight: bold;
    border-radius: 5px;
    font-family: fonteClash;
}
#botao-cadastro:hover {
    background-color: rgb(255, 217, 0);
    color: rgb(161, 140, 16);
    cursor: pointer;
}

.ir-para-login {
    margin-left: 10px;
    color: rgb(192, 165, 11);
}

#link-login {
    color: rgb(255, 226, 62);
}

.titulo {
    font-family: fonteClash;
    font-size: 30px;
    margin-top: 100px;
    margin-left: 700px;
    color: rgb(255, 217, 0);
}
#botao-sair{
    margin-top: 250px;
    margin-left: 800px;
    width: 250px;
    background-color: rgb(255, 226, 62);
    color: rgb(192, 165, 11);
    border: 1px solid rgb(192, 165, 11);
    padding: 10px 20px;
    font-weight: bold;
    border-radius: 5px;
    font-family: fonteClash;
}#botao-sair:hover {
    background-color: rgb(255, 217, 0);
    color: rgb(161, 140, 16);
    cursor: pointer;
}

#texto-logout{
    position: absolute;
    top: 200px;
    margin-left: 700px;
    color: rgb(255, 217, 0);
    font-family: fonteClash;    
}
.mensagem-erro{
    position: absolute;
    top: 170px;
    margin-left: 800px;
    color: rgb(255, 217, 0);
    font-family: fonteClash;    
}
.ir-para-login {
    margin-top: 20px;
    margin-left: 15px;
    color: rgb(255, 217, 0);
    font-family: fonteClash;
    font-size: 18px;
}

#link-login {
    color: #fff;
    text-decoration: underline;
    font-weight: bold;
}