@font-face {
    font-family: 'fonteClash';
    src: url('../fonte/You Blockhead.ttf');
}

body {
    background: linear-gradient(45deg, #29c2e3, #0e4378, #0e4378);
}

.deck {
    background-image: url("../imgFundo/fundo-section.jpg"); 
    display: grid;
    margin-top: 50px;
    margin-left: 750px;
    width: 320px;
    height: 200px;
    border-radius: 20px;
    border: 1px solid #000000;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 0px;

}

.container-deck {
    background-image: url("img/fundo-section.jpg");
    position: relative;
    width: 1850px;
    min-height: 400px;
    margin: 40px 20px;
    border-radius: 10px;
    border: 2px solid #fff;
    margin-left: 0px;
}

    #custo-elixir {
        font-family: fonteClash;
    margin-left: 750px;
    font-size: 20px;
    margin-bottom: 0;
    margin-top: 0;
    color: rgb(255, 255, 255);
}

.selecao-cartas {
    border-radius: 10px;
    width: 1850px;
    min-height: 400px;
    margin-top: 0px;
    margin-left: 0px;
    border: 2px solid #fff;
}

.todas-cartas {
    cursor: grab;
}

.carta {
    width: 75px;
    height: 100px;
}

.i2tb {
    height: 75px;
    width: 100px;
}

h2 {
    color: rgb(221, 190, 14);
    font-size: 30px;
}

#titulo {
    margin-top: -40px;
    margin-left: 75px;
    font-size: 30px;
    font-family: fonteClash;
    color: rgb(255, 217, 0);
}

#comuns {
    font-family: fonteClash;
    font-size: 20px;
    color: blue;
}

#raras {
    font-family: fonteClash;
    font-size: 20px;
    color: rgb(200, 255, 0);
}

#epicas {
    font-family: fonteClash;
    font-size: 20px;
    color: rgb(98, 0, 255);
}

#campeoes {
    font-family: fonteClash;
    font-size: 20px;
    color: white;
}

#lendarias {
    font-family: fonteClash;
    font-size: 20px;
}

#usadas {
    font-family: fonteClash;
    font-size: 20px;
}

p {
    margin-left: 750px;
    font-size: 20px;
    margin-bottom: 0;
    margin-top: 0;
    color: rgb(255, 255, 255);
}

#botao-salvar{
    font-family: fonteClash;
    position: absolute;
    top: 41px;
    left: 16px;
    width: 100px;
    height: 30px;
    background-color: rgb(255, 217, 0);
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

#botao-menu {
    margin-left: 10px;
    margin-top: 10px;
    display: flex;
    width: 50px;
    height: 30px;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 217, 0);
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}